@model IEnumerable<WorkactivityApp.Models.Project>

@{
    ViewData["Title"] = "Project Management field";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time.Duration)
            </th>
            <th>
                Assigned Members
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td style="max-width: 150px; overflow: hidden;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.Duration)
            </td>
            <td>
                @(item.Users != null && item.Users.Any() ? string.Join(", ", item.Users.Select(u => u.UserName)) : "No users")
            </td>

            <td>
                <a asp-action="AddUser" asp-route-id="@item.ProjectId">Add User</a> |
                <a asp-action="RemoveUser" asp-route-ProjectId="@item.ProjectId">Delete User</a> |
                <a asp-action="AddProjectTime" asp-route-id="@item.ProjectId">Add Time</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
